<strong>Olá, {{provider}}</strong>
<p>Houve um cancelamento de horário, confira os detalhes abaixo:</p>
<p>
  <strong>Cliente: {{ user }}</strong> <br>
  <strong>Data/Hora: </strong>{{ date }} <br><br>
  <small>
    O horario está disponivel para novos agendamentos!!
  </small>
</p>
